/* Styling of body  */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

#calculator-body {
    width: 350px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: black;
}

#result-display {
    text-align: end;
    color: white;
    border: 1px solid white;
    margin-bottom: 5px;
    padding: 10px;
}

.buttons{
    padding: 20px;
    border-radius: 10px;
    background-color:grey;
    color: white;
    border: none;
    font-size: 1.5rem;
}

#cal-button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

#cal-button button:hover {
    transform: scale(1.1);
}



.foot-buttons{

    width: 22%;
    padding: 20px;
    border-radius: 10px;
    background-color:grey;
    color: white;
    border: none;
    font-size: 1.5rem;
}

.foot-buttons-zero {
    padding: 20px;
    border-radius: 10px;
    background-color:grey;
    color: white;
    border: none;
    font-size: 1.5rem;
    width: 50%;
    margin-right: 10px;
}

#last-btns button:hover {
    transform: scale(1.1);
} 

.btn-color-yellow {
    background-color: #FF9F0A;
}

.btn-color-ash {
    background-color: #A5A5A5;
}

.btn-color-black {
    background-color: #333333;
}